$white :#ffffff;
$black : #000000;
$blue  : #0099FF;

$bgColor     :#212529;
$navBgColor : rgb(42, 42, 42);
$mainColor   :#ffffff;
$mainTextColor: #31ffb9;
$secondaryTextColor: #657786;
$formBgColor :#F5F8FA;
$borderColor :rgba(255, 255, 255, 0.1);